.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.header {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

.header-item {
  float: left;
}

.header-user {
  float: right;
  display: block;
  text-align: center;
  margin: 0.5em 0.5em;
  color: white;
  text-decoration: none;
}

.menu-item {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.menu-active {
  background-color: #4CAF50;
}

.header-user:hover{
  background-color: #111;
}

.menu-item:hover {
  background-color: #111;
}

.blured-background{
  position: fixed;
  display: block;
  width: 100%;
  height: 100%;
}

.authentication-form{
  padding: 2em;
  position: absolute;
  height: 15em;
  width: 20em;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  display: block;
  margin: auto;
  background-color: burlywood;
  font-size: 2rem;
  align-items: center;
}

.authentication-form label{
  position: relative;
  display: block;
  margin: 1em auto;
  font-size: 0.5rem;
}
input {
  display: block;
  margin: 1em auto;
  border: 2px solid lightslategray;
  height: 1.5em;
  border-radius: 3px;
  padding: 5px;
  font-size: 1rem;
}

.avatar {
  position: relative;
  display: inline-block;
  width: 20px;
  margin: 1px 10px;
}

.container {
  background-color: darkgrey;
  display: inline-block;
  margin: 1em auto;
  vertical-align: top;
  border: 1px solid black;
  border-radius: 7px;
}

img {
  max-width: 100%;
  max-height: 100%;
  object-fit: cover;
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  margin: 0 auto;
 }
 
 .imgcont {
   display: inline-block;
   width: 100%;
   height: 40vh;
   vertical-align: bottom;
   position: relative;
 }

 .middle {
  margin: 1em auto auto 2em;
}

.description {
  padding: 1em;
  width: 18em;
  height: 11vh;
  font-size: 1.2em;
}

.browser {
  display: block;
  margin: 30px auto;
  padding: 1em 2em;
}